#add-user-role {
    position: relative;
}

#add-user-role.disabled {
    opacity: 0.3;
}

#add-user-role.disabled .lock {
    display: block;
}

#add-user-role.disabled .loader {
    display: none;
}

#add-user-role .lock {
    display: none;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 9;
}

#add-user-role .lock .msg-lock {
    position: absolute;
    bottom: 26px; left: 0; right: 0;
    text-align: center;
    font-size: 20px;
    color: #333;
}

#add-user-role .title {
    margin-bottom: 5px;
}

#add-user-role .controls {
    padding: 0 10px;
    background-color: #ddd;
    border-radius: 2px;
    line-height: 50px;
    min-height: 50px;
    margin-bottom: 25px;
}

#add-user-role .box-users {
    position: relative;
    background-color: #ddd;
    margin-bottom: 15px;
    border-radius: 2px;
    min-height: 74px;
    overflow: hidden;
}

#add-user-role .box-users .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -45px;
    margin-top: -8px;
}

#add-user-role .related-users {
    display: none;
    padding: 0;
    list-style: none;
    margin: 0;
    width: 100%;
    border-radius: 2px;
}

#add-user-role .related-users th {
    padding: 8px 10px;
    text-transform: uppercase;
    background-color: #ccc;
    font-size: 11px;
}

#add-user-role .related-users td {
    padding: 8px 10px;
    border-top: 1px solid #ccc;
}

#add-user-role .related-users tbody tr:hover {
    background-color: #d2d2d2;
}

#add-user-role .related-users li:first-child {
    border-top: none;
}

#add-user-role .users,
#add-user-role .roles {
    width: 28%;
    display: inline-block;
}

#add-user-role .remove-usr {
    float: right;
}

#add-user-role .dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
}

#add-user-role .add-btn {
    float: right;
    margin-top: 10px;
}

.project-created th {
    text-align: right;
}

.lbl-user {
    margin-bottom:5px;
}

.reset-pass {
    margin-top:5px;
}

.user_password {
    display:block;
    color:#0080FF;
    float:right;
    margin-top: -26px;
    font
}

.label-pass {
    float:right;
    color:#190707;
    font-weight: bold;
}