{% extends "vault/base.html" %}

{% load i18n static %}

{% block title %}Object Storage &rsaquo; {% trans "Account" %}{% endblock %}

{% block content_title %}Object Storage &rsaquo; {% trans "Account" %}{% endblock %}

{% block content_breadcrumb %}<span>{% trans "Account" %}</span>{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <div>Account Name: {{ project_name }}</div>
      <div>Account ID: {{ project_id }}</div>
      <div>Account Domain ID: {{ account_domain_id }}</div>
      <br>
      <div>Used Space: {{ total_bytes|filesizeformat }}</div>
      <div>Containers: {{ total_containers }}</div>
      <div>Objects: {{ total_objects }}</div>
      <br>
      <div>
        Cloud: {% firstof cloud "No" %}<br>
        <button class="btn btn-primary btn-sm">{% trans "Cloud Migration" %}</button>
      </div>
    </div>
  </div>
{% endblock %}

{% block js_bottom %}
<script src="{% static 'vault/js/metadata.js' %}"></script>
<script src="https://unpkg.com/vue@next"></script>
<script></script>
{% endblock %}
