*.pyc
*.sublime-project
*.sublime-workspace
.cache/
.coverage
.data/
.DS_Store
.env
.idea/
.project
.pycharm-venv
.pydevproject
.settings/
.vscode/
actions.log
dump.rdb
statictemp/
TODO
vault_static/
vault_test.db
