*.pyc
.cache/
.coverage
.DS_Store
.env
.idea/
.project
.pycharm-venv
.pydevproject
.settings/
.vscode/
actions.log
dump.rdb
statictemp/
swift_data.json
TODO
vault_static/
*.sublime-workspace
*.sublime-project
