*.egg-info/
*.pyc
*.sublime-project
*.sublime-workspace
.cache/
.coverage
.data/
.DS_Store
.env
.idea/
__pycache__/
.project
.pycharm-venv
.pydevproject
.pytest_cache/
.settings/
.vscode/
actions.log
build/
dist/
dump.rdb
statictemp/
TODO
vault_static/
vault_test.db
venv/
