recursive-include vault/static *
recursive-include vault/templates *
recursive-include vault/migrations *
recursive-include vault/locale *
recursive-include storage/static *
recursive-include storage/templates *
recursive-include storage/migrations *
recursive-include storage/locale *
recursive-include identity/static *
recursive-include identity/templates *
recursive-include identity/migrations *
recursive-include identity/locale *
recursive-include actionlogger/migrations *
recursive-include actionlogger/locale *
