-i https://pypi.python.org/simple

Babel==2.3.4
gunicorn==19.3.0
Django==3.1.6
django3-all-access==0.10.0
iso8601==0.1.11
mysqlclient==2.0.3
netaddr==0.7.18
oslo.config==5.2.0
python-dateutil==2.5.3
python-keystoneclient==3.16.0
python-swiftclient==3.7.1
pytz==2015.4
requests==2.19.1
cryptography==39.0.1
python-swift-cloud-tools==0.1.5
