-i https://artifactory.globoi.com/artifactory/api/pypi/pypi/simple
-i https://artifactory.globoi.com/artifactory/api/pypi/pypi-all/simple

-r requirements.txt
-r requirements_prod.txt

ipdb==0.8
mock==1.0.1
pep8==1.5.7
pylint==1.0.0
pytest-cov==1.7.0
pytest==2.5.2
