{% load i18n %}

<style>
.swift .head:hover,
.swift .head:hover .icon { color: #0caed4; }
.swift .widget-tab-items .item-box { background-color: #0caed4; }
</style>

<div class="service swift">
  <a class="head" href="{% url 'containerview' %}">
    <i class="icon fa fa-feather-alt"></i>
    <span class="name">
      S3/Swift
      <span class="info">O Object Storage da globo.com</span>
    </span>
  </a>
  <div class="content">

    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="active">
        <a href="#swift-metrics" data-toggle="tab">Informa&ccedil;&otilde;es</a>
      </li>
      <li>
        <a href="#swift-info" data-toggle="tab">Endpoints</a>
      </li>
    </ul>

    <div class="tab-content">

      <div class="tab-pane active" id="swift-metrics">
        <div class="widget-tab-items">

          <div class="item-box">
            <span class="big-number">{% if containers %}{{ containers }}{% else %}0{% endif %}</span>
            {% trans 'containers' %}
          </div>
          <div class="item-box">
            <span class="big-number">{% if objects %}{{ objects }}{% else %}0{% endif %}</span>
            {% trans 'objects' %}
          </div>
          <div class="item-box">
            <span class="big-number">{{ size|filesizeformat }}</span>
            {% trans 'total space' %}
          </div>
        </div>
      </div>

      <div class="tab-pane" id="swift-info">
        <div class="widget-tab-items">
          <table class="table table-striped table-bordered">
            <tr>
              <th>project</th>
              <td>{{ info.project }}</td>
            </tr>
            <tr>
              <th>adminURL</th>
              <td><input type="text" class="form-control" value="{{ info.endpoints.adminURL }}" /></td>
            </tr>
            <tr>
              <th>publicURL</th>
              <td><input type="text" class="form-control" value="{{ info.endpoints.publicURL }}" /></td>
            </tr>
            <tr>
              <th>internalURL</th>
              <td><input type="text" class="form-control" value="{{ info.endpoints.internalURL }}" /></td>
            </tr>
          </table>
        </div>
      </div>

    </div> <!-- .tab-content -->

  </div> <!-- .content -->

  <div class="base">
    <a class="btn btn-sm btn-primary" href="{% url 'remove_from_cache' %}">Limpar cache de objetos</a>
    <a class="btn btn-sm btn-primary" href="{% url 'containerview' %}">Containers</a>
  </div>
</div>
