{% extends "vault/base.html" %}

{% block title %}Storage - {{ project_name }}{% endblock %}

{% block content_title %}Generate Credentials AWS{% endblock %}

{% block content %}
  <form method="POST" class="form-box project-form">
    {% csrf_token %}
    <fieldset class="content">
      <div class="col-md-12">
        <div class="form-group">
            {{ form.foldername.label_tag }}
            {{ form.foldername }}
            {{ form.foldername.errors }}
            <br>
            <span class="help-block">
                Generates standard AWS credential used for authentication.<br>
            </span>
            <tbody>
        <tr>
        <td>  
          {% if user_credentials.password %}
            <span class="help-block" style="background-color: #FCF5D1">
            <br>Access key:
            <td>{{ user_credentials.password.access }}</td>
            <br>Secret key:
            <td>{{ user_credentials.password.secret }}</td>
            <br><br><button type="button" class="btn btn-info btn-sm btn-download" id="btn-download">Download Credentials</button>
            </span>
          {% endif %}


        </td>
          </tbody>
        </table>
        </div>
      </div>
    </fieldset>
  
    <fieldset class="base">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Generate Credentials</button>
      </div>
    </fieldset>
  </form>
</div>

{% endblock %}

{% block js_bottom %}
{{ block.super }}
<script type="text/javascript">
  var jsonData = JSON.stringify({
    "acess_key": "{{ user_credentials.password.access }}",
    "secret_key": "{{ user_credentials.password.secret }}"
  });
  var btnDownload = document.getElementById('btn-download');

  btnDownload.onclick = () => {
      Base.Download.json('credentials.json', jsonData);
  }
</script>
{% endblock %}


