{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
  <title>{% trans 'Error 500' %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'vault/css/font.css' %}" />
  <style>
    body { background-color: #e6e8ea; }
    .error500 { position: absolute; top: 50%; left: 50%; margin-top: -266px; margin-left: -332px; height: 532px; width: 664px; text-align: center; }
    .vault { font-family: kitchen_policeregular, Helvetica, Arial, sans-serif; font-weight: normal; font-size: 38px; color: #c0c0c0; margin: 0 0 10px; }
    .text { color: #c0c0c0; font: bold 28px Arial, sans-serif; letter-spacing: -1px; margin: 0; }
  </style>
</head>
<body>
  <div class="error500">
    <h2 class="vault">{% trans 'Vault' %}</h2>
    <img src="{% static 'vault/img/500.png' %}" />
    <p class="text">
      {% trans 'We are traveling to space to verify our satellites.' %}<br />
      {% trans 'Come back in a while!' %}
    </p>
  </div>
</body>
</html>
