{% load i18n %}

<!DOCTYPE html>
<html>
<head>
  <title>{% trans '500, Something went wrong...' %}</title>
  <style>
    body { background-color: #f4f4f4; margin: 0; padding: 0; }
    .error500 { position: absolute; top: 50px; left: 50px; }
    .vault, .text { color: #777; font: lighter 28px 'Open Sans', Helvetica, Arial, sans-serif; }
    .vault { font-size: 36px; margin: 0; padding: 0; }
  </style>
</head>
<body>
  <div class="error500">
    <h1 class="vault">{% trans 'Vault' %}</h1>
    <p class="text">
      {% trans '500, Something went wrong...' %}
    </p>
  </div>
</body>
</html>
