{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>Vault - {% block title %}{% endblock %}</title>

  <link rel="stylesheet" type="text/css" href="{% static 'vendor/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/css/font-awesome.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'vault/css/vault-bootstrap-theme.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'vault/css/base.css' %}" />
  {% block css %}{% endblock %}

  <script src="{% static 'vendor/js/jquery-2.1.1.min.js' %}"></script>
  <script src="{% static 'vendor/js/ZeroClipboard.min.js' %}"></script>
  {% block js_top %}{% endblock %}

</head>
<body>

<div class="loading">
  <div class="loading-content">Processing<br>
  <img class="loader" src="{% static 'vault/img/loader.gif' %}" />
  </div>
</div>

{% include "vault/header.html" %}
{% include "dashboard/sidebar.html" %}

<section id="content" class="container-fluid">
  <div class="row">
    <h2 class="content-title col-md-6">
      {% block content_title %}{% endblock %}
      <span class="content-breadcrumb">{% block content_breadcrumb %}{% endblock %}</span>
    </h2>

    <div class="content-top col-md-6">
      {% block content_top %}{% endblock %}
    </div>

    <div class="content-body col-md-12">
      {% block content %}{% endblock %}
    </div>
  </div>
</section>

<!-- metadata -->
<div class="metadata">
  <button class="close-meta-btn"><i class="fa fa-times"></i></button>
  <div class="load">
    <img class="loader" src="{% static 'vault/img/loader.gif' %}" />
  </div>

  <h4 class="object-name"></h4>

  <div class="tabs-nav">
    <button class="tab tabmeta active">Metadata</button>
    <button class="tab tabcontent">Content</button>
  </div>

  <div class="tabs-content">
    <div class="content active">
      <ul class="items"></ul>
    </div>
    <div class="content">
      <iframe class="object-content"></iframe>
    </div>
  </div>
</div>

<!-- messages -->
<ul class="messages"></ul>
<script src="{% static 'vendor/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vault/js/base.js' %}"></script>

{% if messages %}
<script>
{% for message in messages %}
  Base.Messages.show('{{ message|capfirst }}'{% if message.tags %}, '{{ message.tags }}'{% endif %});
{% endfor %}
</script>
{% endif %}

<script>
  // Base.Menu.init();
  Base.Metatada.init();
  Base.SelectProject.init('{{ project_id }}');
</script>

{% block js_bottom %}{% endblock %}
</body>
</html>
