{% extends "vault/base.html" %}

{% load i18n static dashboard_tags %}

{% block title %}{% trans 'Dashboard' %}{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'vault/css/dashboard.css' %}" />
{% endblock %}

{% block some_top_info %}Dashboard{% endblock %}
{% block content_title %}{{ project_name }}{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content_top %}
  {{ block.super }}
{% endblock %}

{% block content %}
  {% if has_team %}
    <ul class="row dashboard-widgets" id="dashboard-widgets">
      <li class="col-md-4">
        <div class="widget-dummy"></div>
      </li>
    </ul>
  {% else %}
    <div class="widget no-team alert alert-warning">
      <i class="icon-warning fa fa-exclamation-triangle"></i>
      <span>
        <strong>
          {% trans "You are not associated with a team. Contact the administrator to add you to a team." %}
        </strong>
      </span>
    </div>
  {% endif %}

{% endblock %}

{% block js_bottom %}
<script type="text/html" id="widget_default">
  <style>
  .<%=name%> .head { background-color: <%=color%>; }
  </style>

  <div class="box widget <%=name%>">
    <div class="head">
      <span class="name">
        <%=title%>
        <span class="info"><%=subtitle%></span>
      </span>
    </div>

    <div class="content">
      <% for (var i = 0; i < properties.length; i++) { %>
        <div class="item-box">
          <%=properties[i].description%>
          <span class="big-number"><%=properties[i].value%></span>
          <%=properties[i].name%>
        </div>
        <% if ((i+1) % 2 == 0) { %>
          <div class="item-box-break"></div>
        <% } %>
      <% } %>
    </div>

    <div class="base">
      <% for ( var i = 0; i < buttons.length; i++ ) { %>
      <a class="btn btn-sm btn-light" href="<%=buttons[i].url%>"><%=buttons[i].name%></a>
      <% } %>
    </div>
  </div>
</script>

{% if has_team %}
<script type="text/javascript">
  {% autoescape off %}
  var urls = [{% info_endpoints %}];
  {% endautoescape %}

  Promise.all(urls.map(u=>fetch(u + "?opt=widgets")))
  .then(responses => {
    return Promise.all(responses.map(res => res.text()));
  })
  .then(datas => {
    var widgets = document.getElementById("dashboard-widgets");
    widgets.innerHTML = '';

    datas.forEach(data => {
      try {
        data = JSON.parse(data);
      } catch (err) {
        return;
      }

      data.forEach(d => {
        var wid = document.createElement("li");
        if (d.type == "default") {
          wid.className = "col-md-4";
          wid.innerHTML = tmpl("widget_default", Object.assign({
            "name": "default",
            "color": "#aaaaaa",
            "icon": "fas fa-question-circle",
            "title": "",
            "url": "#",
            "subtitle": "",
            "properties": [],
            "buttons": []
          }, d));
        }

        widgets.appendChild(wid);
      });
    });

  });
</script>
{% endif %}

{% endblock %}
