<div class="modal fade" id="removeModal" role="dialog"
     aria-labelledby="add_user_modalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal Header</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="removeModalConfirm" type="button" class="btn btn-danger" data-dismiss="modal">Remove</button>
      </div>
    </div>

  </div>
</div>
