{% load i18n static dashboard_tags vault_tags %}
{% can_view_team_users as can_view_tusers %}

<!-- sidebar -->
<nav id="sidebar" class="col-md-2">

  <!-- <h1>Vault</h1> -->
  <img src="{% static 'vault/img/logo-white.svg' %}">

  {% set_project %}
  <span class="vault-env {% get_vault_env %}">{% get_vault_env %}</span>
  <a href="#" class="btn-menu-bars"><i class="icon-menu fa fa-bars"></i></a>

  <ul class="buttons" id="sidebar-buttons">
    <li>
      <a href="{% url 'dashboard' %}" title="{% trans 'Home' %}" data-toggle="tooltip" data-placement="right">
        <i class="icon fa fa-home"></i>
      </a>
    </li>
    {% if user.is_staff %}
    <li>
      <a href="{% url 'admin:index' %}" title="{% trans 'Settings' %}" data-toggle="tooltip" data-placement="right">
        <i class="icon fa fa-cog"></i>
      </a>
    </li>
    {% endif %}
    <li>
      <a href="{% url 'update_teams_users' %}" title="{% trans 'Manage Team' %}"
         data-toggle="tooltip" data-placement="right">
        <i class="icon fa fa-users"></i>
      </a>
    </li>
    {% if can_view_tusers %}
    <li>
      <a href="{% url 'team_users' %}" title="Teams and Users" data-toggle="tooltip" data-placement="right">
        <i class="icon fa fa-building"></i>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
<!-- /sidebar -->

<script type="text/html" id="menu_icon_default">
  <a href="<%=url%>" title="<%=name%>" data-toggle="tooltip" data-placement="right">
    <i class="icon <%=icon%>"></i>
  </a>
</script>

<script type="text/javascript">
  {% autoescape off %}
  var urls = [{% info_endpoints %}];
  {% endautoescape %}

  function dateToString(date) {
    return date.getFullYear() + '-'
          + (date.getMonth() < 9 ? '0' : '')
          + (date.getMonth() + 1) + '-'
          + (date.getDate() < 10 ? '0' : '')
          + date.getDate() + ' '
          + (date.getHours() < 10 ? '0' : '')
          + date.getHours() + ':'
          + (date.getMinutes() < 10 ? '0' : '')
          + date.getMinutes() + ':'
          + (date.getSeconds() < 10 ? '0' : '')
          + date.getSeconds();
  }

  function renderMenuItem(obj) {
    var wid = document.createElement("li");
    wid.innerHTML = tmpl("menu_icon_default", Object.assign({
      "name": "default",
      "icon": "fas fa-question-circle",
      "url": "#"
    }, obj));
    var widgets = document.getElementById("sidebar-buttons");
    widgets.appendChild(wid);
  }

  var currentDate = new Date();

  var currentDateString = dateToString(currentDate);

  var cachedUrls = [];
  urls.forEach(u => {
    try {
      var cache = JSON.parse(localStorage.getItem(u + "?opt=menu"));
      if (cache.expires > currentDateString) {
        renderMenuItem(JSON.parse(cache.content));
        cachedUrls.push(u);
      }
    } catch (err) {
    }
  });

  urls = urls.filter(u => {
    return !cachedUrls.includes(u);
  });

  Promise.all(urls.map(u => {
    return fetch(u + "?opt=menu");
  }))
  .then(responses => {
    return responses.map(res => {
      var url = res.url.replace(location.origin, '');

      var text = res.text().then(data => {
        try {
          var jsonData = JSON.parse(data);
        } catch (err) {
          return;
        }

        var cache = localStorage.getItem(url);
        if (cache === null || JSON.parse(cache).expires <= currentDateString) {
          var expireDate = new Date(currentDate.getTime() + 5 * 60000);
          localStorage.setItem(url, JSON.stringify({
            "content": data,
            "expires": dateToString(expireDate)
          }));
        }

        renderMenuItem(jsonData);
      });
    })
  });
</script>
