{% load i18n static dashboard_tags vault_tags %}
{% can_view_team_users as can_view_tusers %}

<!-- sidebar -->
<nav id="sidebar" class="col-md-2">

  <a href="{% url 'dashboard' %}" class="vault-logo">
    <img src="{% static 'vault/img/logo-white.svg' %}" alt="Vault">
  </a>

  {% set_project %}
  <span class="vault-env {% get_vault_env %}">{% get_vault_env %}</span>
  <a href="#" class="btn-menu-bars"><i class="icon-menu fa fa-bars"></i></a>

  <ul class="buttons" id="sidebar-buttons">
    <li>
      <a href="{% url 'dashboard' %}" title="{% trans 'Home' %}" data-toggle="tooltip" data-placement="right">
        <i class="icon fa fa-home"></i>
      </a>
    </li>
    {% if user.is_staff %}
    <li>
      <a href="{% url 'admin:index' %}" title="{% trans 'Settings' %}" data-toggle="tooltip" data-placement="right">
        <i class="icon fa fa-cog"></i>
      </a>
    </li>
    {% endif %}
    <li>
      <a href="{% url 'update_teams_users' %}" title="{% trans 'Manage Team' %}"
         data-toggle="tooltip" data-placement="right">
        <i class="icon fa fa-users"></i>
      </a>
    </li>
    {% if can_view_tusers %}
    <li>
      <a href="{% url 'team_users' %}" title="Teams and Users" data-toggle="tooltip" data-placement="right">
        <i class="icon fa fa-building"></i>
      </a>
    </li>
    {% endif %}
  </ul>

  <script type="text/html" id="menu_icon_default">
    <a href="<%=url%>" title="<%=name%>" data-toggle="tooltip" data-placement="right">
      <i class="icon <%=icon%>"></i>
    </a>
  </script>

  <script src="{% static 'vault/js/menu.js' %}"></script>

  <script>
    {% autoescape off %}
    var endpoints = [{% info_endpoints %}];
    {% endautoescape %}
    VaultMenu.init(endpoints);
  </script>

</nav>
<!-- /sidebar -->
