{% extends "vault/base.html" %}

{% load staticfiles %}

{% block title %}Project Created!{% endblock %}
{% block content_title %}Project Created!{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'identity/css/project.css' %}" />
{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <span>
            Username: {{ project_info.user_name }} <br>
            Password: {{ project_info.user_password }} <br>
            Auth URL: {{ project_info.auth_url }} <br>
            admin URL: {{ project_info.endpoints.adminURL }} <br>
            public URL: {{project_info.endpoints.publicURL }} <br>
            internal URL: {{ project_info.endpoints.internalURL }}
        </span>
    </div>

{% endblock %}

{% block js_bottom %}
{% endblock %}
