<style>
.select-project { width: 100%; }
.select-project th { padding-bottom: 15px; text-align: right; }
.select-project tr { border-bottom: 1px dotted #aaa; }
.select-project tr:hover { background-color: #eaeaea; }
.select-project tr:last-child { border-bottom: none }
.select-project td { padding: 3px 6px 4px; }
.select-project .name { font-size: 18px; }
.select-project .tools { text-align: right; }
</style>

<table class="select-project">
  {% for project in projects %}
  <tr data-project-id="{{ project.id }}">
    <td class="name">
      <a href="/set-project/{{ project.id }}/?next=/storage/"
         title="{% if project.description %}{{ project.description }}{% endif %}">{{ project.name }}</a>
    </td>
    <td class="tools">
      <a href="/project/{{ project.id }}" class="project-edit btn btn-default btn-xs">edit</a>
    </td>
  </tr>
  {% endfor %}
</table>
