{% extends "vault/base.html" %}

{% load i18n static %}

{% block title %}{% trans 'Cloud Migration' %} &rsaquo; {% trans "General Report" %}{% endblock %}

{% block some_top_info %}{% trans 'Cloud Migration' %}{% endblock %}

{% block content_title %}{% trans "General Report" %}{% endblock %}

{% block content_breadcrumb %}
<span>{% trans 'Cloud Migration' %}</span>
<span>{% trans "General Report" %}</span>
{% endblock %}

{% block content %}
<div id="migration-report-app"></div>
{% endblock %}

{% block js_bottom %}
<script>
const PROJECTS = JSON.parse('{{ projects|escapejs }}');
const MIGRATION_DATA = JSON.parse('{{ migration_data|escapejs }}');
const PROJECT_STATUS_URL = "{% url 'swift_cloud_project_status' %}";
</script>
<script src="{% static 'vault/js/swift_cloud/report.js' %}"></script>
{% endblock %}
