{% load i18n %}

<style>
.no-project .icon-warning { float: left; margin-right: 15px; font-size: 40px; }
</style>

<div class="widget no-project alert alert-warning">
  <i class="icon-warning fa fa-exclamation-triangle"></i>
  <span>
    <strong>
      Voc&ecirc; n&atilde;o est&aacute; associado a um time. Um membro da sua equipe pode associa-lo!
      <a href="http://docs.s3.globoi.com/swift_faq/#4-como-adicionar-um-novo-usuario-ao-meu-time">Mais info.</a>
    </strong>
  </span>
  <br />
  Caso ninguém do seu time utiliza ou já utilizou o Vault, entre em contato através do canal
  <strong>#s3</strong> no Slack ou com a <strong>Equipe de Atendimento</strong>.
</div>
