@font-face {
    font-family: 'kitchen_policeregular';
    src: url('../fonts/kitchenpolice-webfont.eot');
    src: url('../fonts/kitchenpolice-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kitchenpolice-webfont.woff') format('woff'),
         url('../fonts/kitchenpolice-webfont.ttf') format('truetype'),
         url('../fonts/kitchenpolice-webfont.svg#kitchen_policeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #eee;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    min-height: 50px;
    padding: 0;
    margin-bottom: 0;
    background-color: white;
    border-bottom: 1px solid #e2e2e2;
    z-index: 9;
}

#header .navbar-header {
    border: 0;
    width: 240px;
}

#header .navbar-header a.navbar-brand {
    padding: 15px 0px 0px 15px;
    font-family: kitchen_policeregular, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 28px;
    color: #333;
}

#header .navbar-right {
    margin-right: 0;
    border-left: 1px solid #e2e2e2;
    height: 49px;
    padding: 9px 0 0 9px;
}

#header .navbar-left {
    margin-left: 0;
    border-right: 1px solid #e2e2e2;
    height: 49px;
    padding: 12px 0 0 14px;
    width: 50px;
}

#header .navbar-left .icon-menu {
    text-decoration: none;
    font-size: 24px;
    color: #333;
}

#header .current-project .dropdown-toggle {
    line-height: 17px;
    text-align: right;
}

#header .navbar-right .info {
    text-transform: uppercase;
    font-size: 10px;
}

/* sidebar */
#sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    width: 50px;
    background-color: #333;
    color: #bbb;
    z-index: 8;
}

#sidebar .buttons {
    margin: 0;
    height: 100%;
}

#sidebar .buttons a {
    font-size: 22px;
    width: 49px;
    height: 50px;
    display: block;
    line-height: 50px;
    text-align: center;
    color: #ccc;
    box-shadow: 0px 1px 0px #444;
    border-bottom: 1px solid #222;
}

#sidebar .buttons a.logout {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #555;
}

#sidebar .buttons a:hover {
    color: #fff;
}

.logout-btn {
    font-size: 12px;
    color: #999;
}

.logout-btn:hover {
    color: white;
    text-decoration: none;
}

#sidebar ul {
    padding: 0;
    list-style: none;
}

/* content */
#content {
    position: relative;
    top: 50px;
    margin-left: 50px;
}

.content-title,
.content-top {
    padding-top: 30px;
    height: 100px;
    background-color: #D9E0E7;
}

.content-title {
    font-size: 26px;
    font-weight: 200;
    color: #666;
    margin: 0;
    text-transform: uppercase;
}

.breadcrumbs,
.content-breadcrumb {
    display: block;
    margin-top: 8px;
    color: #888;
    font-size: 14px;
    text-transform: none;
    font-weight: 400;
}

.content-breadcrumb a {
    margin-right: 5px;
}

.content-breadcrumb a:after {
    content: "›";
    margin-left: 5px;
}

.content-top {
    text-align: right;
}

.content-body {
    margin-top: 30px;
}

/* form */
.form-box {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.form-box label {
    font-weight: normal;
}

.form-box .content {
    padding: 20px 10px;
}

.form-box .base {
    border-top: 1px solid #bbb;
    padding: 20px 10px;
    background-color: #ddd;
    text-align: right;
}

.errorlist {
    list-style: none;
    padding: 0;
    color: red;
}

/* messages */
.messages {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -35%;
    width: 70%;
    padding: 0;
    list-style: none;
    z-index: 99;
}

.messages li {
    text-align: center;
}

.messages .msg {
    position: relative;
    margin: 15px 15px 0;
    padding: 8px 40px 8px 16px;
    background-color: rgba(85, 85, 85, 0.75);
    color: white;
    font-size: 16px;
    border-radius: 2px;
    display: inline-block;
}

.messages .close-btn {
    position: absolute;
    top:12px;
    right: 15px;
    font-size: 14;
    color: white;
    z-index: 99;
    cursor: pointer;
}

.messages .close-btn .icon {
    float: left;
    font-size: 14px;
    margin-left: 2px;
}

.messages .msg:before {
    /* .fa */
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin-right: 12px;
}

.success .msg { background-color: rgba(0, 111, 13, 0.85); }
.warning .msg { background-color: rgba(200, 127, 0, 0.85); }
.error .msg { background-color: rgba(156, 5, 5, 0.85); }
.info .msg { background-color: rgba(0, 80, 200, 0.85); }

/* loading */
.loading {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    z-index: 999;
    display: none;
}

.loading-content {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    font-size: large;
}

.table-pagination {
    width: 100%;
    text-align: center;
}

.btn-copy-url {
    background-color: #ccc;
    color: white;
    padding: 0 8px;
    font-size: 10px;
    margin-top: 3px;
    margin-right: 3px;
    /*display: none;*/
    float: right;
}

.btn-copy-url:hover,
.btn-copy-url:focus,
.zeroclipboard-is-hover {
    background-color: #444;
    color: white;
    text-decoration: none;
}

/* metadata */
.btn-meta {
    background-color: #ccc;
    color: white;
    padding: 0 8px;
    font-size: 10px;
    float: right;
    margin-top: 3px;
}

.btn-meta:hover {
    background-color: #444;
    color: white;
    text-decoration: none;
}

.metadata {
    position: fixed;
    top: 50px;
    right: -65%;
    bottom: 0;
    width: 65%;
    padding: 52px 0 0;
    background-color: #444;
    border-left: 1px solid #111;

    -webkit-transition: all 0.2s cubic-bezier(0.70, 0, 0.175, 1);
    -moz-transition: all 0.2s cubic-bezier(0.70, 0, 0.175, 1);
    -o-transition: all 0.2s cubic-bezier(0.70, 0, 0.175, 1);
    transition: all 0.2s cubic-bezier(0.70, 0, 0.175, 1);
}

.metadata.open {
    right: 0;
}

.metadata .load {
    display: none;
}

.metadata.open .close-meta-btn {
    left: -40px;
}

.metadata .close-meta-btn {
    position: absolute;
    color: #777;
    font-size: 14px;
    font-weight: 300;
    top: 0;
    left: 0;
    width: 40px;
    height: 50px;
    padding: 0 0 2px 12px;
    border: 0;
    background: transparent url(../img/close_meta_tab.png) no-repeat top right;

    -webkit-transition: all 0.2s cubic-bezier(0.70, 0, 0.175, 1);
    -moz-transition: all 0.2s cubic-bezier(0.70, 0, 0.175, 1);
    -o-transition: all 0.2s cubic-bezier(0.70, 0, 0.175, 1);
    transition: all 0.2s cubic-bezier(0.70, 0, 0.175, 1);
}

.metadata .close-meta-btn:hover {
    color: white;
}

.metadata .object-name {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    padding: 15px;
    font-size: 18px;
    font-weight: 300;
    color: white;
    margin: 0px;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 9;
}

.metadata .tabs-nav {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #333;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    z-index: 8;
}

.metadata .tabs-nav .tab {
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    font-size: 11px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    background-color: #333;
    outline: none;
}

.metadata .tabs-nav .tab.active {
    background-color: #4f4f4f;
    border-bottom: 0;
    cursor: default;
}

.metadata .tabs-content {
    position: absolute;
    top: 90px;
    width: 100%;
    bottom: 0;
}

.metadata .tabs-content .content {
    display: none;
    height: 100%;
}

.metadata .tabs-content .content.active {
    display: block;
}

.metadata .items {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
}

.metadata .items .key,
.metadata .items .value {
    display: block;
    font-size: 12px;
    padding: 3px 15px;
    color: #ccc;
}

.metadata .items .key {
    background-color: #333;
    border-radius: 2px;
    color: #f5ee98;
}

.metadata .items .value {
    background-color: #373737;
}

.metadata .object-content {
    background-color: #fff;
    border: 0;
    height: 100%;
    width: 100%;
    border: 3px solid #333;
}

/* <backstage bar> */
#header #bsBar_account #bsBar_apps span:hover,
#header #bsBar_account #bsBar_apps span:active {
    color: black;
}
/* </backstage bar> */
