.dashboard-widgets {
    list-style: none;
    padding: 0;
}

.service {
    position: relative;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.service .head {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #666;
}

.service .head:hover,
.service .head:hover .icon {
    color: #3498DB;
}

.service .head .icon {
    float: left;
    height: 58px;
    line-height: 58px;
    font-size: 36px;
    padding-right: 20px;
    text-shadow: 0 1px 0 white;
}

.service .name {
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
}

.service .info {
    font-size: 26px;
    display: block;
}

.service .item-box {
    text-align: center;
    padding: 15px 10px;
    background-color: #aaa;
    min-width: 25%;
    color: white;
}

.service .base {
    padding: 15px 20px;
    text-align: right;
}

.service .base .btn {
    margin-left: 5px;
}

.service .nav-tabs {
    border-bottom: 1px solid transparent;
}

ul.widgets {
    list-style: none;
    padding: 0;
}

.widget {
    position: relative;
    margin-bottom: 30px;
    min-height: 230px;
}

.widget.content table {
    margin: 0;
}

.widget.content table th {
    width: 10%;
    text-align: right;
}

.widget.content table input {
    border-color: #eee;
    border-radius: 0;
}

.widget .big-number {
    display: block;
    font-size: 38px;
    font-weight: 200;
}

.widget .tab-pane {
    padding: 0;
}

.widget .content {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.widget .content .item-box {
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    justify-content: center;
    min-height: 100px;
    text-align: center;
    padding: 10px;
    color: white;
    margin: 0;
    font-weight: 300;
    font-size: 16px;
}

.no-team .icon-warning {
  float: left;
  margin-right: 15px;
  font-size: 40px;
}
