/* <sub-content> */
#sub-content {
    position: fixed;
    top: 0;
    right: -50%;
    bottom: 0;
    width: 40%;
    background-color: #444;
    color: white;
    z-index: 98;
    box-shadow: -5px 0 20px rgba(0,0,0,0.2);

    -webkit-transition: all 0.2s cubic-bezier(0.70, 0, 0.175, 1);
    -moz-transition: all 0.2s cubic-bezier(0.70, 0, 0.175, 1);
    -o-transition: all 0.2s cubic-bezier(0.70, 0, 0.175, 1);
    transition: all 0.2s cubic-bezier(0.70, 0, 0.175, 1);
}

#sub-content.open {
    right: 0;
}

#sub-content .inner {
    position: absolute;
    top: 50px; left: 0; right: 0; bottom: 0;
    padding: 20px;
    overflow-y: auto;
}

#sub-content form {
    padding-bottom: 15px;
}

#sub-content .min { display: none; }
#sub-content.fullscreen .min { display: block; }
#sub-content.fullscreen .max { display: none; }

#sub-content.fullscreen  {
    top: 0;
    width: 100%;
    z-index: 91;
}

#sub-content .close-btn,
#sub-content .full-btn {
    position: absolute;
    color: #777;
    font-size: 16px;
    font-weight: 300;
    top: 0;
    width: 40px;
    height: 50px;
    line-height: 50px;
    background-color: #444;
    z-index: 9;
    border: 0;
    outline: none;
}

#sub-content .close-btn {
    left: 0;
    padding: 0 0 2px 12px;
}

#sub-content .full-btn {
    right: 0;
    padding: 0 12px 2px 0;
}

#sub-content .close-btn:hover,
#sub-content .full-btn:hover {
    color: white;
}

#sub-content .sub-content-name {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
    padding-left: 50px;
    font-size: 16px;
    font-weight: 300;
    color: white;
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
/* </sub-content> */
