{% extends "vault/base.html" %}
{% load i18n %}
{% block title %}{% trans 'Storage' %} - {{ project_name }}{% endblock %}

{% block content_title %}{% trans 'Storage' %} - {{ project_name }}{% endblock %}

{% block content_breadcrumb %}
  <a href="{% url "containerview" %}">{% trans 'Containers' %}</a>
  <span>{% trans 'Create container' %}</span>
{% endblock %}

{% block content %}
  <form method="POST" action="{% url "create_container" %}" class="form-box project-form">
    {% csrf_token %}
    <fieldset class="content">
      <div class="col-md-6">
        <div class="form-group">
            {{ form.containername.label_tag }}
            {{ form.containername }}
            {{ form.containername.errors }}
            <span class="help-block">
                {% trans 'Enter name of container here. Use only letters, numbers, underscore or hyphens.' %}
                {% trans 'Please note that you can not rename it afterwards.' %}
            </span>
        </div>

      <div class="col-md-6">&nbsp;</div>
    </fieldset>

    <fieldset class="base">
      <div class="col-md-12">
        <button class="btn btn-primary" type="submit">{% trans 'Create Container' %}</button>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
