{% load vault_filters %}

<div class="pagination">
  <ul class="pagination">
    {% if items.has_previous %}
      <li><a href="?page={{ items.previous_page_number }}">Previous</a></li>
    {% endif %}

    {% for i in items.paginator.num_pages|times %}
      {% if i == items.number %}
        <li class="active"><a href="#">{{ i }}</a></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

    {% if items.has_next %}
        <li><a href="?page={{ items.next_page_number }}">Next</a></li>
    {% endif %}
  </ul>
</div>
