{% extends "vault/base.html" %}

{% load staticfiles %}
{% load render_widgets %}
{% load i18n %}

{% block title %}{% trans 'Dashboard' %}{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard.css' %}" />
{% endblock %}

{% block content_title %}{% trans 'Dashboard' %}{% endblock %}
{% block content_breadcrumb %}<span>{% trans 'Home' %}</span>{% endblock %}


{% block content_top %}
  {{ block.super }}
{% endblock %}


{% block content %}
  {% render_widgets %}
{% endblock %}

{% block js_bottom %}{% endblock %}
