{% extends "vault/base.html" %}

{% load i18n staticfiles dashboard_tags %}

{% block title %}{% trans 'Dashboard' %}{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/widget.css' %}" />
{% endblock %}

{% block content_title %}{% trans 'Dashboard' %}{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block content_top %}
  {{ block.super }}
  <a href="{% url "add_project" %}" class="btn btn-primary">{% trans 'Create Project' %}</a>
{% endblock %}

{% block content %}
  {% if has_team %}
  <ul class="dashboard-widgets" id="dashboard-widgets"></ul>
  {% else %}
  <div class="widget no-team alert alert-warning">
    <i class="icon-warning fa fa-exclamation-triangle"></i>
    <span>
      <strong>
        {% trans "You are not associated with a team. Contact the administrator to add you to a team." %}
      </strong>
    </span>
  </div>
  {% endif %}

{% endblock %}

{% block js_bottom %}
<script src="{% static 'vendor/js/tools.bundle.js' %}"></script>
<script src="{% static 'dashboard/js/dashboard.js' %}"></script>

<script type="text/html" id="widget_default">
  <style>
  .<%=name%> .head:hover,
  .<%=name%> .head:hover .icon { color: <%=color%> }
  .<%=name%> .item-box { background-color: <%=color%> }
  </style>

  <div class="widget service <%=name%>">
    <a class="head" href="<%=url%>">
      <i class="icon <%=icon%>"></i>
      <span class="name">
        <%=title%>
        <span class="info"><%=subtitle%></span>
      </span>
    </a>
    <div class="content">
      <% for ( var i = 0; i < properties.length; i++ ) { %>
      <div class="item-box">
        <%=properties[i].description%>
        <span class="big-number"><%=properties[i].value%></span>
        <%=properties[i].name%>
      </div>
      <% } %>

    </div> <!-- .content -->

    <div class="base">
      <% for ( var i = 0; i < buttons.length; i++ ) { %>
      <a class="btn btn-xs btn-primary" href="<%=buttons[i].url%>"><%=buttons[i].name%></a>
      <% } %>
    </div>
  </div>
</script>

{% if has_team %}
<script type="text/javascript">
  {% autoescape off %}
  var urls = [{% info_endpoints %}];
  {% endautoescape %}

  Promise.all(urls.map(u=>fetch(u + "?opt=widgets"))).then(responses => {
    return Promise.all(responses.map(res => res.text()));
  }).then(datas => {
    datas.forEach(data => {
      try {
        data = JSON.parse(data);
      } catch (err) {
        return;
      }
      data.forEach(d => {
      var wid = document.createElement("li");
      if (d.type == "default") {
        wid.className = "widget col-md-6 col-xs-6";
        wid.innerHTML = tmpl("widget_default", Object.assign({
          "name": "default",
          "color": "#aaaaaa",
          "icon": "fas fa-question-circle",
          "title": "",
          "url": "#",
          "subtitle": "",
          "properties": [],
          "buttons": []
        }, d));
      }
      var widgets = document.getElementById("dashboard-widgets");
      widgets.appendChild(wid);
    });

  })
});

</script>
{% endif %}
{% endblock %}
