{% extends "vault/base.html" %}
{% load i18n %}
{% load static %}

{% block content_title %}{% trans 'Manage Users and Teams' %}{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'vault/css/users_teams.css' %}" />
{% endblock %}

{% block content %}
  <div id="user-teams-app"></div>
{% endblock %}

{% block js_bottom %}
{{ block.super }}
<script>
const ALL_TEAMS = {{ groups|safe }};
const ALL_USERS = {{ users|safe  }};
const ADD_URL = '{% url "team_add_user" %}';
const DELETE_URL = '{% url "team_delete_user" %}';
const LIST_URL = '{% url "team_list_users" %}';
const LOGGED_USER = '{{ logged_user }}';
</script>
<script src="{% static 'vault/js/users_teams.js' %}"></script>
{% endblock %}
