
.dashboard-widgets {
    list-style: none;
    padding: 0;
}

.widget {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 1px 0px #fefefe;
}

.widget-info {
    padding-left: 15px;
    text-align: right;
    color: #555;
}

.widget-info .widget-title {
    display: block;
    font-size: 26px;
    letter-spacing: -1px;
    margin-bottom: 10px;
}

.widget-content {
    position: relative;
    background-color: #fafafa;
    min-height: 120px;
    padding: 45px 15px 15px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.widget-content-bar {
    position: absolute;
    height: 30px;
    line-height: 30px;
    width: 100%;
    top: 0px;
    left: 0px;
    border-radius: 3px 3px 0px 0px;
    background-color: #fafafa;
    color: #777;
    border-bottom: 1px solid #e8e8e8;
    font-size: 13px;
    padding: 0px 15px;

}
