
.dashboard-widgets {
    list-style: none;
    padding: 0;
}

.widget {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 1px 0px #fefefe;
}
