ul.widgets {
    list-style: none;
    padding: 0;
}

.widget {
    position: relative;
    margin-bottom: 30px;
    min-height: 230px;
}

.widget.content table {
    margin: 0;
}

.widget.content table th {
    width: 10%;
    text-align: right;
}

.widget.content table input {
    border-color: #eee;
    border-radius: 0;
}

.widget .big-number {
    display: block;
    font-size: 38px;
    font-weight: 200;
}

.widget .tab-pane {
    padding: 0;
}

.widget .content {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.widget .content .item-box {
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    justify-content: center;
    min-height: 100px;
    text-align: center;
    padding: 10px;
    color: white;
    margin: 0;
    font-weight: 300;
    font-size: 16px;
}

.no-team .icon-warning {
  float: left;
  margin-right: 15px;
  font-size: 40px;
}
